$samaritan-purple: #AF93C5;
$guidelines-purple: #622E68;
$guidelines-purple_alt: #54377C;
$paper: #FFFFFF;
$barbi-world-pink: #EF557B;
$receiver-orange: #F68B20;
$executive-blue: #434E5B;
$medical-blue: #6BC9D1;
$sharing-blue: #71B9E0;
$medical-green: #2EB9AB;

$brand-purple: #9F65AE;
$brand-light-gray: #EDEDED;
$brand-gray: #D4D4D4;
$brand-grey: #D4D4D4;
$brand-black: #24292C;

$ui-blue: #3F70C9;
$ui-green: #09AA66;
$ui-red: #DA3D30;
$ui-orange: #FFA11F;
$ui-white: #FFFFFF;
$ui-black: #40464C;

$neutral100: #24292C;
$neutral90: #434F5B;
$neutral80: #6C747D;
$neutral70: #8C9196;
$neutral60: #9CA3AA;
$neutral50: #B6BBC2;
$neutral40: #C4C8CD;
$neutral30: #DDE1E3;
$neutral20: #EDEDED;
$neutral10: #F2F2F2;

$blue50: #365273;
$blue40: #276EB2;
$blue30: #3889D6;
$blue20: #7DA3E3;
$blue10: #9FCCEF;

$green50: #00685E;
$green40: #027F40;
$green30: #0EC129;
$green20: #3BB774;
$green10: #78C696;
