.card--color {
  display: flex;
  padding: 0;
  height: 8rem;
  border: none;
  overflow: hidden;
  margin: 0;

  .color-left, .color-center, .color-right {
    float: left;
    height: 100%;
    padding: 0.5rem;
  }

  .color-left, .color-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .color-left {
    background-color: $neutral30;
    border: 2px solid $neutral30;
    padding: 0.3rem 0.5rem;
  }
  .color-center {
    border: 2px solid;
  }
  .color-right {
    border: 2px solid;
    border-radius: 0 10px 10px 0;
    flex: 2;
    overflow: hidden;
  }
}

.color-details {
  border-bottom: 2px solid $brand-light-gray;
  padding: 0.5rem 0 0.5rem 0.5rem;
  &:last-of-type { border-bottom: none; }

  label { margin-top: 0 !important; }
  .color-block {
    border-radius: 5px;
    height: 2.2rem;
    width: 4rem;
    float: left;
  }
  .color-detail {
    margin-left: 1rem;
    float: left;
  }
}

.card--color {
  button { display: none; }
}

.card--color:hover {
  cursor: pointer;

  .color-center, .color-right, label, span { transition: all 0.3s; }

  .color-center { flex: 2; }
  .color-right { flex: 0; margin-left: -2rem; border-left: none;}
  label, span {
    opacity: 0;
    transform: translateX(8rem);
  }
  button { display: block; }
}

.color--neutral100 .color-block { background-color: $neutral100; }
.color--neutral90 .color-block { background-color: $neutral90; }
.color--neutral80 .color-block { background-color: $neutral80; }
.color--neutral70 .color-block { background-color: $neutral70; }
.color--neutral60 .color-block { background-color: $neutral60; }
.color--neutral50 .color-block { background-color: $neutral50; }
.color--neutral40 .color-block { background-color: $neutral40; }
.color--neutral30 .color-block { background-color: $neutral30; }
.color--neutral20 .color-block { background-color: $neutral20; }
.color--neutral10 .color-block { background-color: $neutral10; }

.color--blue50 .color-block { background-color: $blue50; }
.color--blue40 .color-block { background-color: $blue40; }
.color--blue30 .color-block { background-color: $blue30; }
.color--blue20 .color-block { background-color: $blue20; }
.color--blue10 .color-block { background-color: $blue10; }

.color--green50 .color-block { background-color: $green50; }
.color--green40 .color-block { background-color: $green40; }
.color--green30 .color-block { background-color: $green30; }
.color--green20 .color-block { background-color: $green20; }
.color--green10 .color-block { background-color: $green10; }

@mixin color-guide($color) {
  .color-center { background-color: $color; border-color: $color; }
  .color-right { border-color: $color; }
}

.color--samaritan-purple {@include color-guide($samaritan-purple);}
.color--guidelines-purple {@include color-guide($guidelines-purple);}
.color--receiver-orange {@include color-guide($receiver-orange);}
.color--executive-blue {@include color-guide($executive-blue);}
.color--medical-blue {@include color-guide($medical-blue);}
.color--medical-green {@include color-guide($medical-green);}
.color--sharing-blue {@include color-guide($sharing-blue);}
.color--barbi-world-pink {@include color-guide($barbi-world-pink);}

.color--brand-purple {@include color-guide($brand-purple);}
.color--brand-light-gray {@include color-guide($brand-light-gray);}
.color--brand-gray {@include color-guide($brand-gray);}
.color--brand-black {@include color-guide($brand-black);}
.color--ui-blue {@include color-guide($ui-blue);}
.color--ui-green {@include color-guide($ui-green);}
.color--ui-orange {@include color-guide($ui-orange);}
.color--ui-red {@include color-guide($ui-red);}
.color--ui-white {@include color-guide($ui-white); .color-center, .color-right{ border-color: $neutral20;} .color-center { border-right: none;}}
.color--ui-black {@include color-guide($ui-black);}

.color--neutral100 {@include color-guide($neutral100);}
.color--neutral90 {@include color-guide($neutral90);}
.color--neutral80 {@include color-guide($neutral80);}
.color--neutral70 {@include color-guide($neutral70);}
.color--neutral60 {@include color-guide($neutral60);}
.color--neutral50 {@include color-guide($neutral50);}
.color--neutral40 {@include color-guide($neutral40);}
.color--neutral30 {@include color-guide($neutral30);}
.color--neutral20 {@include color-guide($neutral20);}
.color--neutral10 {@include color-guide($neutral10);}

.grade-container {
  label, h2 {
    margin: 0;
    text-align: center;
  }
}

.card--pass {
  background-color: $ui-green;
  border-color: $ui-green;
  color: $white;
  label, h2 { color: $white; }
}

.color-input { position: relative; }

.text-color--container, .background-color--container {
  border-radius: 3px;
  display: inline-block;
  height: 1.65rem;
  width: 2.5rem;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}
